body {
    font-family: Arial;
    background: #f4f6fb;
}

.box {
    background: white;
    max-width: 700px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 8px;
}

button {
    padding: 8px 12px;
    margin: 5px;
}

.navbar {
    background: #1e293b;
    color: white;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}
